.button {
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
    background: gray;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

.button:focus {
    outline: none;
}